@import url('https://fonts.googleapis.com/');
* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    background: whitesmoke;
    color: black;
    background-color: #fdfdfd;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23faf8fb' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
}

a {
    color: black;
    text-decoration: black;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 1.5em auto;

    overflow: hidden;
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(5, 1fr);
}

.container > .header,
.container > .nav-main,
.container > .nav-menu,
.container > .showcase,
.container > .content,
.container > .sidebar,
.container > .news-cards,
.container > .footer,
.container > .div {
    background: white;
    padding: 20px;
}

.container > .header,
.container > .nav-main,
.container > .nav-menu,
.container > .nav-menu-right,
.container > .footer {
    width: 100%;
    grid-column: span 6;
    background: white;
    color: black;
}

.container > .showcase {
    grid-column: span 5;
}

.container > .content {
    grid-column: span 3;
}

.container > .sidebar {
    grid-column: span 2;
}

.container > .news-cards {
    grid-column: span 4;
}

.container > .articulo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content > .article {
    padding: 20px;
    margin-top: 5px;
    color: black;
}

.content .article h1,
.content .article p {
    padding: 10px;
}

/* Sidebar */
.container > .sidebar {
    grid-column: span 2;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .sidebar img {
    width: 100%;
    margin-top: 5px;
}

/* Navegación */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

/* Navegación Izquierda*/
.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 5px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid black;
}

.nav-main ul .nav-menu {
    flex: 1;
    margin-left: 20px;
}

/* SLIDER */
.slider-wrap {
    grid-column: span 6;
}

/* SECCION */
.one-four a {
    padding: 10px 0;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.one-four a:hover {
    text-decoration: underline;
}

/* SHOWCASE */
hr {
    margin: 10px 0;
}
.showcase {
    width: 100%;
    height: 550px;
    background: url('/img/pexels-cottonbro-3951350.jpg') no-repeat center center/cover;
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

.showcase > .img {
    width: 80%;
    height: 30px;
} 

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    margin: 10px 0;
}

.btn:hover {
    opacity: .8;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}

/* Articulos */
.article a {
    padding: 10px 0;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.article a:hover {
    text-decoration: underline;
}

/* Tarjetas Nuevas */
.news-cards {
    display: flex;
    grid-column: span 6;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    margin: 10px 0;
}

.news-cards img {
    width: 100%;
    height: 180px;
    grid-column: span 6;
}

.news-cards h3 {
    font-size: 15px;
    margin: 10px 0;
}

.news-cards a {
    padding: 10px 0;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover {
    text-decoration: underline;
}

/* Sección Noticias */
.item {
    margin: 10px 0;
    padding: 20px;
    color: black;
    float: left;
}

.item a {
    padding: 10px 0;
    color: black;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.item a:hover {
    text-decoration: underline;
}

/* Contenido de la Noticia */
.noticia {
    align-items: center;
}

/* FORMULARIO REGISTRO */
.form-register {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 400px;
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Oswald', sans-serif;
    box-shadow: 4px 10px 25px gray;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controles {
    width: 100%;
    background: white;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.form-register a {
    color: black;
    text-decoration: none;
}
.form-register a:hover {
    
    color: black;
    text-decoration: underline;
}

.form-register > .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 10px 0;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.form-register > .boton {
    width: 100%;
    background: whitesmoke;
    border: 1px solid black;
    padding: 12px;
    color: black;
    margin: 10px 0;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }
    
    .container .nav-main {
        grid-column: 1/-1;
    }

    .container .nav-menu {
        grid-column: 1/-1;
    }

    .container .nav-menu-right {
        grid-column: 1/-1;
    }

    .container .content {
        grid-column: 1/-1;
    }

    .container .sidebar {
        grid-column: 1/-1;
    }

    .container .news-cards {
        grid-column: 1/-1;
    }

    .container .item {
        grid-column: 1/-1;
    }

    .container .noticia {
        grid-column: 1/-1;
    }
}